/* Импортируем шрифт https://fonts.google.com/specimen/Oswald */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

body{
    font-family: 'Oswald', sans-serif;
    background-color: black;
}
.container{
    width: 95%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hex-colors{
    text-align: center;
}

.hex-colors h1{
    font-size: 2rem;
    text-transform: uppercase;
    /* Анимация смены цвета текста */
    animation: changeColorsText 5s infinite alternate;
}

.hex-colors h2{
    font-size: 2rem;
    margin-top: 15%;
}
/* Реализация анимации смены  цвета текста*/
@keyframes changeColorsText {
    0%{
        color: cornflowerblue;
    }
    20%{
        color: darkmagenta;
    }
    40%{
        color: darkred;
    }
    60%{
        color: greenyellow;
    }
    80% {
        color: darkorange;
    }
    100%{
        color: darkgoldenrod;
    }
}
/* Регулируем как наш шрифт выглядит при ширине 480 и меньше*/
@media(max-width: 480px){
    .hex-colors h1{
        font-size: 1.5rem;
    }
    .hex-colors h2{
        font-size: 1.5rem;
    }
}